<div id="invite-form">
 <a id="hide-invitations"><i class="fa fa-close" aria-hidden="true" title="Hide" style="font-size: 18px;"></i></a>
 <h1>Invite Contestants</h1>
 <%= render "invitation" %>
 <div id="message-display"></div>
   <h2 id="outstanding-invites-header">Outstanding invitations</h2>
   <div id="outstanding-invites">
    <% @outstanding_users.each do |u| %>
      <div class="invited">
        <div class="emoji-invited"><%= user_image_by_id(u.user_id, 18) %></div>
        <p style="font-weight: bold;" title="<%= u.email %>"><%= u.first_name + " " + u.last_name %></p>
      </div>
    <% end %>
    <% @outstanding_invites.each do |i| %>
      <div class="invited">
        <div class="emoji-invited"><%= emojify ":sleuth_or_spy::skin-tone-2:", img_attrs: { title: nil} %> </div>
        <p><%= i.email %></p>
      </div>
    <% end %>
   </div>
</div>

    <div class="contest-header">
      <i title="Contest menu" id="contest-menu-icon" class="fa fa-bars" aria-hidden="true"></i>
      <h1>
	  <%= emojify @contest.emoji_title, img_attrs: { title: nil}, class_name: "emoji-header-big" %> 
	  <%= @contest.contest_name %>
	  <%= emojify @contest.emoji_title, img_attrs: { title: nil}, class_name: "emoji-header-big" %>
	  </h1>
      <div id="contest-menu">
        <a id="hide-menu"><i class="fa fa-close" aria-hidden="true" title="Hide menu" style="font-size: 18px;"></i></a>
        <h4>Contest Menu</h4>
        <div class="contest-menu-header">
          <p>Contest dates: <%= @contest.start_date.strftime("%m/%d/%y") %> - <%= @contest.end_date.strftime("%m/%d/%y") %></p>
          <p id="total-contestants">Total contestants: <%= @contestants.length %></p>
        </div>
        <a class="contest-menu-item" id="add-invitations"><div class="menu-item"><i class="fa fa-user-plus" aria-hidden="true" style="padding-left:4px;"></i></div>Invite more people</a>
        <a class="contest-menu-item" id="contest-settings" href="/contests/<%= @contest.id %>/settings"><div class="menu-item"><i class="fa fa-cog" aria-hidden="true"></i></div>Contest settings</a>
        <a class="contest-menu-item" id="contest-info" href="/articles/contests"><div class="menu-item"><i class="fa fa-info-circle" aria-hidden="true"></i></div>Contest general info</a>
        <div id="contestant-list">
          <p>Contestants</p>
          <% @contestants.each do |con| %>
            <a data-turbolinks="false" class="contestant-listing" href="/profile?user=<%= con.user_id %>"><div style="display:inline-block; vertical-align:middle;"><%= user_image_by_id(con.user_id, 25) %></div> <%= + " " + con.first_name + " " + con.last_name %></a>
          <% end %>
        </div>
      </div>
    </div>

    <div class="contest-container">
      <%= render "contest_leaderboard" %>
      <div class="contest-section-right">
        <%= render "top_four" %>
        <div class="contest-comments-section">
          <h2> <%= emojify ":mega:", img_attrs: { title: nil}, class_name: "emoji-header" %> Contest Chatter <%= emojify ":mega:", img_attrs: { title: nil}, class_name: "emoji-header" %> </h2>
            <div class="add-comment-section">
              <%= form_for(ContestComment.new, remote: true, :method => :post, url: "/contests/#{@contest.id}/comments") do |f| %>
               <%= f.text_area :comment, id: "add_comment_field", placeholder: "Add a comment..." %>
               <%= f.submit "Add", id: "add-comment-btn" %>
              <% end %>
            </div>
            <div id="contest-comment-warnings"><p></p></div>
            <div id="display-comments-section">
                <%= render partial: "list_comments" %>
            </div>
        </div>
      </div>
    </div>

    <% if @contest.user_id.to_i == current_user.id.to_i %>
      <%= link_to 'Delete this contest', "/contests/#{@contest.id}",
                method: :delete,
			class: "delete-contest-btn",
                data: { confirm: 'Are you sure you want to delete this contest? This will remove the contest and all associated contestants.' } %>
    <% else %>
      <%= link_to 'Leave contest', "/contestants/#{@thisContestant.id}",
                method: :delete,
                class: "leave-contest-btn",
                data: { confirm: 'Are you sure you want to leave the contest?' } %>
    <% end %>
